<div class="container-fluid card registration-container border-secondary">
  <h3 class="text-center">Register Account</h3>
  <hr>

  @if (errorMessage.length>0) {
    <div class="alert alert-danger" role="alert">
      @for (msg of errorMessage; track $index) {
        <p>{{ msg }}</p>
      }
    </div>
  }
  <div class="mb-3">
    <label class="form-label">First Name</label>
    <input [(ngModel)]="registerRequest.firstName" type="text" class="form-control" id="firstName" placeholder="John">
  </div>
  <div class="mb-3">
    <label class="form-label">Last Name</label>
    <input [(ngModel)]="registerRequest.lastName" type="text" class="form-control" id="lastName" placeholder="Doe">
  </div>
  <div class="mb-3">
    <label class="form-label">Date of Birth</label>
    <input [(ngModel)]="registerRequest.dateOfBirth" type="date" class="form-control" id="dateOfBirth" placeholder="password">
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="login" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password" placeholder="password">
  </div>


  <div class="d-flex align-items-center justify-content-between mb-3">
    <button class="btn btn-primary" (click)="register()">
      <em class="fas fa-sign-in-alt">&nbsp;Register</em>
    </button>
    <div class="d-flex align-items-center">
      Already Registered?
      <button class="btn btn-link" (click)="login()">Login</button>
    </div>
  </div>

</div>

