<h3>My Books</h3>
<hr>
<div class="d-flex justify-content-start flex-wrap gap-2">
  @for (book of bookResponse.content;track $index){
    <app-book-card [book] = "book" [manage] = "true"></app-book-card>
  }
</div>
<br>
<div class="container d-flex justify-content-end align-items-center mb-1">

  <button mat-button (click)="openDialog()">
    <i matTooltip="click to create a book"
       class="fas fa-plus-circle fs-3 text-info add-icon"
       aria-label="icon to add a new book">
    </i>
  </button>

</div>
<mat-paginator [length]="totalPages"
               [pageSize]="10"
               [pageSizeOptions]="[1, 10, 25, 100]"
               (page)="onPageChange($event)"
               [pageIndex]="page"
               aria-label="Select page">
</mat-paginator>
