
<div class="card" style="width: 18rem;">

  <img [src]="processBytesImage()" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title fs-6 fw-bold mb-1"><i class="fa-solid fa-book"></i> &nbsp;{{book.title}}</h5>
    <h5 class="card-subtitle fs-6 text-secondary mb-1"><i class="fa-solid fa-user-check"></i> &nbsp;{{book.authorName}}</h5>
    <h6 class="card-subtitle fs-6 text-secondary mb-1"><i class="fa-solid fa-code"></i> &nbsp;{{book.isbn}}</h6>
    <h6 class="card-subtitle fs-6 text-secondary mb-1"><i class="fa-solid fa-user"></i> &nbsp;{{book.owner}}</h6>
    <hr>
    <p class="card-text">{{book.synopsis}}</p>
  </div>
  <div class="card-footer d-flex align-items-center justify-content-between">
    <div>
      <app-star-rating [rating]="book.rate"></app-star-rating>
    </div>
    @if (!manage) {
      <ng-container>
        <div class="d-flex gap-2">
          <i  matTooltip="Show book details" (click)="onShowDetails(book)" class="fa-solid fa-circle-info text-primary  icon"></i>
          <i  matTooltip="click to borrow book" (click)="onBorrow()" class="fa-solid fa-list-check text-primary icon"></i>
          <i matTooltip="add to waiting list" (click)="onAddToWaitingList()" class="fa-solid fa-heart text-danger icon"></i>
        </div>
      </ng-container>
    } @else {
      <div class="d-flex gap-2">
        <i (click)="onEdit()" class="fa-solid fa-edit text-success icon"></i>
        <i (click)="onShare()" class="fa-solid fa-share-nodes text-primary icon"></i>
        <i (click)="onDelete()" class="fa-solid fa-trash-alt text-danger icon"></i>
      </div>
    }
  </div>
</div>
