@if (submitted){

  <ng-container>
    <div class="container">
      @if(isOkay){
        <ng-container>
          <div class="text-center text-success" style="width: 400px">
            <h2>{{message}}</h2>
            <p>Now you can login to your account</p>
            <button class="btn btn-primary" (click)="onLogin()">Login</button>
          </div>
        </ng-container>
      } @else {
        <ng-container>
          <div class="text-center text-danger" style="width: 400px">
            <h2>{{message}}</h2>
            <p>Please, Try again</p>
            <button class="btn btn-primary" (click)="onTryAgain()">Try again</button>
          </div>
        </ng-container>
      }


    </div>
  </ng-container>


} @else {
  <ng-container>
    <div class="container">
      <div class="text-center" style="width: 400px">
        <h2>Type your activation code</h2>
        <code-input [isCodeHidden]="false"
                    [codeLength]="6"
                    [code]="'number'"
                    (codeCompleted)="onCodeCompleted($event)">
        </code-input>
      </div>
    </div>


  </ng-container>
}

